<% if object.errors.any? %>
  <div>
    <div>
      O formulário não preenchido está adequadamente. Verifique os campos abaixo:
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>