<div class="form-item">
	<label>
		<span class="text">
			<%= User::NAME %>
		</span>
		<%= object.text_field :name, type:"text", class: "text-input" %>
	</label>
</div>

<div class="form-item">
	<label>
		<span class="text">
			<%= "#{User::EMAIL}*" %>
		</span>
		<%= object.text_field :email, disabled: email_disabled, type:"email", class: "text-input" %>
	</label>
</div>