<li>
  <%= link_to user.name, user %> | <%= link_to user.email, user %>
  <br>
  <% if current_user.admin? && !current_user?(user) %>
  <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Você tem certeza que deseja apagar esse usuário?" } %>
  <% end %>
	<span>
	  <%= pluralize(current_user.ideas.count, "idéia") %>
	</span>
  <br><br>
</li>