<% provide(:title, @user.name) %>

<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
        <%= @user.email %>
    </section>
  </aside>
  <div>
    <h2>Idéias</h2>
    <% if @user == current_user %>
      <%= link_to "Nova idéia", new_idea_path %>
    <% end %>
    <%= render 'ideas/feed' %>
  </div>
</div>