<% provide(:title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
        <%= @user.email %>
    </section>
  </aside>
  <div>
    <h2>Idéias</h2>
    <% if @user == current_user %>
      <%= render 'shared/idea_form' %>
    <% end %>
    <%= render 'shared/feed' %>
  </div>
</div>