<div>
  <p>
    <%= f.text_area :title, placeholder: "Título da recompensa" %><br>
    <%= f.text_area :summary, placeholder: "Resumo" %>
    <br>
    <%= link_to_remove_fields "remover", f %>
  </p>
</div>