<% provide(:title, 'Idéias') %>

<section id="all-projects" ng-controller="allProjectsCtrl">
  <header class="header wrapper">
    <div id="project-type-switch">
      <h2 class="name" ng-class="{active: projType == 0}" ng-click="projType = 0">Financiamento Coletivo</h2>
      <div class="switch" ng-click="toggleProjType()">
        <span class="ball" ng-class="{left: projType == 0, right: projType == 1}"></span>
      </div>
      <h2 class="name" ng-class="{active: projType == 1}" ng-click="projType = 1">Comunideia em Ação</h2>
    </div>
  </header>
  <div class="body">
    <section class="project-index project-invest-index bg-gray" ng-if="projType == 0">
      <%= render 'ideas/thumbnails',
        :thumbnails_icon => "icon i-money-black",
        :thumbnails_title => "aposte nessa ideia",
        :thumbnails_subtitle => "Ideias do bem que precisam de investimento",
        :thumbnails => @ideas_COMUNIDEIA_EM_FINANCIAMENTO,
        :thumbnails_type => Idea::COMUNIDEIA_EM_FINANCIAMENTO %>
    </section>
    <section class="project-index project-help-index bg-white" ng-if="projType == 1">
      <%= render 'ideas/thumbnails',
        :thumbnails_icon => "icon i-tbolt-black",
        :thumbnails_title => "comunideia em ação",
        :thumbnails_subtitle => "Ideias geniais que precisam de um empurrãozinho",
        :thumbnails => @ideas_COMUNIDEIA_EM_ACAO,
        :thumbnails_type => Idea::COMUNIDEIA_EM_ACAO %>
    </section>
  </div>
  <footer class="footer"></footer>
</section>