<p>Recompensas:</p>

<%= f.fields_for :recompenses do |builder| %>
		<%= render 'recompense_fields', :f => builder %>
<% end %>

<!--p id="recompenseCounter" style="visibility:visible" onclick="incrementRecompenseCounter()" value="1" ><%#= link_to_add_fields(Recompense::RECOMPENSE_ADD, f, :recompenses)
 %></p-->

<br><br>