	<footer class="footer clearfix">
	    <div class="container footer-container">
	        <div class="nav-row row">
	            <nav class="nav col-md-3 col-sm-4 col-lg-3 col-xs-4" role='navigation'>
	                <ul class="nav nav-nohover">
	                    <li><header><h4>Mantenha Contato</h4></header></li>
	                    <li><a href="#twitter">Twitter</a></li>
	                    <li><a href="#facebook">Facebook</a></li>
	                    <li><a href="#instagram">Instagram</a></li>
	                    <li><a href="#github">Github</a></li>
	                    <li><a href="#blog">Blog</a></li>
	                </ul>
	            </nav>
	            <nav class="nav col-md-3 col-sm-4 col-lg-3 col-xs-4" role='navigation'>
	                <ul class="nav nav-nohover">
	                    <li><header><h4>Sobre nós</h4></header></li>
	                    <li><a href="#ajuda">Ajuda</a></li>
	                    <li><a href="#deedback">Feedback</a></li>
	                    <li><a href="#termos-de-uso">Termos de uso</a></li>
	                    <li><a href="#privacidade">Privacidade</a></li>
	                </ul>
	            </nav>
	            <nav class="nav col-md-3 col-sm-4 col-lg-3 col-xs-4" role='navigation'>
	                <ul class="nav nav-nohover">
	                    <li><header><h4>Navegue</h4></header></li>
	                    <li><a href= <%= new_idea_path %> >Envie um projeto</a></li>
	                    <li><a href="#descubra-projetos">Descubra projetos</a></li>
	                    <li><a href="#recomendados">Recomendados</a></li>
	                    <li><a href="#na-reta-final">Na reta final</a></li>
	                    <li><a href="#recentes">Recentes</a></li>
	                </ul>
	            </nav>
	        </div>
	        <div class="row bottom col-lg-11 col-md-11 col-xs-11 col-sm-11">
	            <p class="copyright col-lg-6 col-md-6 col-sm-6 col-xs-10">&copy; Comunideia 2014 - Todos os direitos reservados</p>
	            <div class="social-networks col-lg-6 col-md-6 col-sm-6 hidden-xs">
	                <ul class="social-networks-footer list-inline list-unstyled">
	                    <li class="facebook">
	                        <a href="#facebook"></a>
	                    </li>
	                    <li class="google-plus"><a href="#g+"></a></li>
	                    <li class="youtube"><a href="#youtube"></a></li>
	                    <li class="twitter"><a href="#twitter"></a></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</footer>
</div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>